@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    body {
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        margin: 0;
    }

    @font-face {
        font-family: 'Montserrat-Bold';
        src: url(assets/fonts/Montserrat-Bold.ttf);
    }

    h1, h2, h3 {
        font-family: "Montserrat-Bold", sans-serif;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        max-width: 70ch;
        line-height: 1.5;
    }

    header {
        height: 55vh;
        width: 100%;
        background-image: url(../project/assets/img/studentsbg.png);
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: 4rem;

    }

    header > div {
        background-color: #c5192d;
        color: white;
        text-align: center;
        padding: 2rem;
        position: absolute;
        bottom: -4rem;
        right: 0;
        left: 0;
        width: 95vw;
        margin: auto;
        box-sizing: border-box;
    }

    main {
        width: 95vw;
        box-shadow: 0px 0px 0px 1px darkgrey;
        background-color: whitesmoke;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;

    }

    #intro-container {
        padding: 2em;
        background-color: #c5192d;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left:0;
    }

    @counter-style single-emoji {
        system: cyclic;
        symbols: "\1F64C" "1F3EB" "1F4DA";
        suffix: " ";
    }

    li::before {
        content: "🙌 ";
        width: 1rem;
        margin: 1rem 1rem 0rem 1rem;
    }

    li:nth-child(2)::before {
        content: "🏫 ";
    }

    li:nth-child(3)::before {
        content: "📚 ";
    }

    article {
        box-sizing: border-box;
        display: table;
        padding: 2rem;
    }

    article:nth-child(2) {
        border-bottom: 0.1px solid darkgrey;
    }

    article > img {
        width: 100%;
        display: table-footer-group;
    }

    article > div {
        display: table-header-group;
    }

    footer {
        width: 95vw;
        box-sizing: border-box;
        background-color: #c5192d;
        margin: auto;
        padding: 10px;
        text-align: center;
        color: white;
    }

    a {
        color: white;
    }
    
}


@media screen and (min-width: 600px) and (max-width: 960px) {
    html {
        font-size: 16px;
    }

    body {
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        margin: 0;
    }

    @font-face {
        font-family: 'Montserrat-Bold';
        src: url(assets/fonts/Montserrat-Bold.ttf);
    }
    
    h1, h2, h3 {
        font-family: "Montserrat-Bold", sans-serif;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        max-width: 70ch;
        line-height: 1.5;
    }

    header {
        height: 65vh;
        width: 100%;
        background-image: url(../project/assets/img/studentsbg.png);
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: 4rem;

    }

    header > div {
        background-color: #c5192d;
        color: white;
        text-align: center;
        padding: 2rem;
        position: absolute;
        bottom: -4rem;
        right: 0;
        left: 0;
        width: 85vw;
        margin: auto;
        box-sizing: border-box;
    }

    main {
        width: 85vw;
        box-shadow: 0px 0px 0px 1px darkgrey;
        background-color: whitesmoke;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;

    }

    article > img, div {
        width: 45%;
        padding: 2.25%;
        display: inline-block;
        vertical-align: middle;
    }

    article > img {
        vertical-align: top;
    }

    #intro-container {
        width: 100%;
        background: linear-gradient(to right, #c5192d 50%, whitesmoke 50%);
    }



    @counter-style single-emoji {
        system: cyclic;
        symbols: "\1F64C" "1F3EB" "1F4DA";
        suffix: " ";
    }

    li::before {
        content: "🙌 ";
        width: 1rem;
        margin: 1rem 1rem 0rem 1rem;
    }

    li:nth-child(2)::before {
        content: "🏫 ";
    }

    li:nth-child(3)::before {
        content: "📚 ";
    }
    

    li {
        list-style: none;
    }

    article {
        border-bottom: 0.1px solid darkgrey;
    }

    footer {
        width: 85vw;
        box-sizing: border-box;
        background-color: #c5192d;
        margin: auto;
        padding: 20px;
        text-align: center;
        color: white;
    }

    a {
        color: white;
    }
    
}


@media screen and (min-width: 960px) {
    html {
        font-size: 24px;
    }

    body {
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        margin: 0;
    }

    @font-face {
        font-family: 'Montserrat-Bold';
        src: url(assets/fonts/Montserrat-Bold.ttf);
    }
    
    h1, h2, h3 {
        font-family: "Montserrat-Bold", sans-serif;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        max-width: 70ch;
        line-height: 1.5;
    }

    header {
        height: 65vh;
        width: 100%;
        background-image: url(../project/assets/img/studentsbg.png);
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: 4rem;

    }

    header > div {
        background-color: #c5192d;
        color: white;
        text-align: center;
        padding: 2rem;
        position: absolute;
        bottom: -4rem;
        right: 0;
        left: 0;
        width: 70vw;
        margin: auto;
        box-sizing: border-box;
    }

    main {
        width: 70vw;
        box-shadow: 0px 0px 0px 1px darkgrey;
        background-color: whitesmoke;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    img {
        width: 100%;
    }

    #intro-container {
        width: 100%;
        background: linear-gradient(to right, #c5192d 50%, whitesmoke 50%);
    }

    @counter-style single-emoji {
        system: cyclic;
        symbols: "\1F64C" "1F3EB" "1F4DA";
        suffix: " ";
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li::before {
        content: "🙌 ";
        width: 1rem;
        margin: 1rem 1rem 0rem 1rem;
    }

    li:nth-child(2)::before {
        content: "🏫 ";
    }

    li:nth-child(3)::before {
        content: "📚 ";
    }

    article {
        border-bottom: 0.1px solid darkgrey;
    }

    article > img, div {
        width: 45%;
        padding: 2.25%;
        display: inline-block;
        vertical-align: middle;
    }

    footer {
        width: 70vw;
        box-sizing: border-box;
        background-color: #c5192d;
        margin: auto;
        padding: 20px;
        text-align: center;
        color: white;
    }

    a {
        color: white;
    }
    
}